body
{
  font-size:     16px;
  width:         50%;
  padding-left:  15%;
  padding-right: 15%;
  min-width:     40em;
}

table
{
  border:      collapse;
  margin:      1em;
  line-height: 1.5em;
}

table, th, td
{
  border: 1px solid black;
}

.org-left
{
  padding: 0 1ex;
}

h1, h2, h3, h4
{
  margin: 1em 0ex;
}

/* .outline-text-2 > *, .outline-text-3 > *, .outline-text-4 > * */
div[class|=outline-text] > *
{
  margin: 1ex 0ex;
}

div[class|=outline-text] > li:before
{

  content: "- ";
}

.org-ul
{
  list-style: none;
  padding-left: 0px;
}
